<h3>スケジュール編集</h3>

<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :email ,"メールアドレス" %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :age ,"年齢" %></th>
      <td><%= f.text_field :age %></td>
    </tr>
    <tr>
      <th><%= f.label :introduction ,"一言紹介" %></th>
      <td><%= f.text_area :introduction %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "編集を完了する" %></li>
      <li><%= link_to "ユーザー情報一覧に戻る", :posts %></li>
    </ul>
  </div>
<% end %>